.home-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.sidenav-max-width{
  display: flex;
  flex-direction: row;
  width: 200px;
}

.text-overflow {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidenav-note{
  display: flex;
  hight:100%;
}
